@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    direction: rtl;
    font-family: 'Noto Sans Arabic', sans-serif;
  }
  body {
    @apply bg-gray-50 text-gray-800;
  }
}
